.boton-descarga {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #2980b9;
    transition: background-color 0.3s ease;
    font-family: Arial, sans-serif;
    position: relative;
  }
  
  .boton-descarga:hover {
    background-color: #2980b9;
  }
  
  .logo {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    vertical-align: middle;
  }
  